version: 2.1

jobs:
  build:
    docker:
      - image: cimg/openjdk:21.0
    steps:
      - checkout
      - run: mvn -B package -DskipTests

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
